.wwa h1 {
    text-align: center;
}

.wwa p {
    width: 80%;
    margin: auto;
    padding: 1em;
}

.values h1 {
    text-align: center;
    margin: 1em 0;
}

.staff h1 {
    text-align: center;
    margin: 1em 0;
}

.ctnt {
    display: flex;
    align-items: center;
    gap: 80px;
    margin: 0 4em;
}

.imgs img {
    height: 90vh;
    border-radius: 1em;
}

.text p {
    width: 80%;
}

.text {
    border-radius: 1em;
    background-color: var(--secondary-color);
    border-width: 8px;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.5s;
    padding: 2em;
}

.text:hover {
    transform: translateY(-15px);
}