.hero-section {
  min-height: 60vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

.hero-section #title {
  width: 100%;
  height: 100%;
  text-align: center;
  color: white;
  font-size: var(--font-size-h1);
  margin-top: 10vh;
}

.hero-section #heroCTA {
  margin-left: 5%;
  width: fit-content;
}

.hero-section #titleCTA {
  color: white;
  text-align: left;
  margin-bottom: 0.1em;
  margin-top: 30vh;
}

.hero-section #heroCTA label {
  display: block;
  margin-bottom: 0.5em;
  color: white;
  margin-left: 0.5em;
  font-size: var(--font-size-label);
}

.hero-section .primaryButton {
  background-color: var(--accent-color);
  color: white;
  border-radius: 10px;
  font-size: var(--font-size-body);
  border-style: none;
  padding: 20px 100px;
  cursor: pointer;
  margin-bottom: 10em;
}