* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;

  --primary-color: #002C57;
  --secondary-color: #d9d9d9;
  --accent-color: #C89300;

  --font-size-h1: 55px;
  --font-size-h2: 40px;
  --font-size-label: 30px;
  --font-size-body: 18px;

  --container-margin: 5%;
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

label {
  font-size: var(--font-size-label);
}

body {
  font-size: var(--font-size-body);
}

html {
  scroll-behavior: smooth;
}

nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    cursor: pointer;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: var(--font-size-body);
    position: relative;
}

.container {
  margin: 0px var(--container-margin);
}

.logo {
  width: 140px;
}

.btn-align {
  text-align: center;
}

.btn {
  background-color: var(--accent-color);
  color: white;
  border-radius: 10px;
  font-size: var(--font-size-body);
  border-style: none;
  padding: 20px 80px;
  cursor: pointer;
  margin: 1em;
}

.btn:hover {
    border: 1px solid var(--secondary-color);
    background: var(--secondary-color);
    transition: 1s;
    color: var(--primary-color);
}